{% autoescape off %}
You're receiving this email because you requested a password reset for your JKUAT GPA Calculator account.

Please visit the following address to reset your password:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

This link will expire in 1 hour.

If you didn't request a password reset, please ignore this email. Your password will remain unchanged.

---
JKUAT GPA Calculator
noreply@jkuat-gpa-calculator.com
{% endautoescape %}
